body, html {
	margin: 0;
	padding: 0;
}

.navbar {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 5vh;
	display: flex;
	flex-direction: row;
	background-color: red;
	color: black;
	z-index: 3;

}

.navbarlogo {
	padding: 5px;
}

.navbaritem {
	font-family: monospace;
	color: black;
	font-size: 20px;
	padding: 15px;
	margin: 10px;
	border: solid 2px;
	border-color: black;
	
}

.sitewrapper {
	position: ralative;
}

.foreground {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	/*height: 100%;*/
	background-size: contain:
    	background-repeat: no-repeat;
	background-position: center;
	z-index: 2;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 3000px;
	background-size: contain:
    	background-repeat: no-repeat;
	background-position: center;
	z-index: 1;
}

.footer {
	position: relative; 
	margin-top: 3000px;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	font-family: monospace;
	flex-direction: row;
	background-color: black;
	color: red;
	background-size: contain:
    	background-repeat: no-repeat;
	background-position: center;
	z-index: 3;
}
